/*Discussion manager*/
.post-item .summary input[type="text"].ty-dm-name  {
    width: 30%;
}
.post-item .summary input[type="text"].ty-dm-age {
    width: 10%;
    font-weight: normal;
}
.post-item .summary input[type="text"].ty-dm-city {
    width: 20%;
    font-weight: normal;
}
.post-item .summary select.ty-dm-play-level {
    width: 10%;
    margin-bottom: 4px;
}
.post-item .summary select.ty-dm-surface {
    width: 20%;
    margin-bottom: 4px;
}
.post-item .summary input[type="text"].ty-dm-configuration {
    width: 100%;
    font-weight: normal;
}
/*Discussion manager*/
.ufa .redactor_box {
    max-width: unset;
}
#res_ignore_list .form-horizontal .control-label, #res_missed .form-horizontal .control-label {
    width: 400px;
}
#res_ignore_list .form-horizontal .controls, #res_missed .form-horizontal .controls {
    margin-left: 420px;
}
#res_ignore_list .form-edit .control-group, #res_missed .form-edit .control-group {
    margin-bottom: 0;
}
.ty-valign-top {
    vertical-align: top;
}
.ty-orders-detail__pc-link {
    display: inline-block;
    position: relative;
}
.ty-orders-detail__pc-detail {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ecf0f1;
    box-shadow: 0 0 12px -2px #888888;
    padding: 10px;
    position: absolute;
    left: 0;
    width: 600px;
    top: 27px;
    z-index: 10;
}
.ty-orders-detail__pc-detail::before {
    background: rgba(0, 0, 0, 0) url("../../../media/images/addons/development/popup_tail_top.png") no-repeat scroll;
    content: "";
    display: block;
    height: 16px;
    left: 60px;
    margin-left: -11px;
    position: absolute;
    top: -12px;
    width: 19px;
}
.input-textarea-long {
    width: 98%;
}
.product-options {
    margin: 0;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.ty-pc-group__products-item-options {
    .form-horizontal .controls {
        margin-left: 0;
    }
    .form-horizontal .control-label {
        width: auto;
    }
}
.ty-warehouse-inventory {
    display: inline-block;
    width: 100%;
}
.ty-warehouse-inventory__title {
    position: absolute;
    right: 8px;
    top: -1px;
    color: #a1a6aa;
}
.ty-warehouse-inventory__field {
    display: inline;
}
.ty-warehouse-inventory__block {
    display: inline;
    margin-right: 10px;
    position: relative;
}
.ty-order-warehouses {
    color: #a5a5a5;
}
.ty-translation-form .redactor_box .redactor_editor {
    float: none;
}
.lang-name {
    width: 290px;
}
.ty-text-length {
    position: absolute;
    left: -45px;
    bottom: 0;
    color: #868686;
}
.ty-call-request-order-options {
    opacity: 0.1;
}
.ty-update-rrp-category {
    font-size: 20px;
}
.ty-city-textbox {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
.ty-city-textbox-section {
    width: 48%;
    display: inline-block;
    margin-right: 3%;
    vertical-align: top;
}
.ty-city-textbox-note {
    width: 48%;
    display: inline-block;
}
/* KLADR */
.kladr-error {
    color: #cb3e27;
}

#kladr_autocomplete ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #c4c4c4;
    background-color: white;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 200px;
    max-height: 420px;
    color: #313131;
}

#kladr_autocomplete li {
    display: list-item;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
}

#kladr_autocomplete li + li {
    border-top: 1px solid #ededed;
}

#kladr_autocomplete li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#kladr_autocomplete li.active {
    background-color: #e9e9e9;
}

#kladr_autocomplete a {
    text-decoration: none;
    color: @font;
    padding: 1px 7px;
    width: 100%;
}

#kladr_autocomplete strong {
/*     color: darken(@menu, 30%); */
}

#kladr_autocomplete .spinner {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: transparent url("./images/spinner.png") center center no-repeat;
    z-index: 9999;
}
/* KLADR */