/*.ty-tabs__content {
    width: 500px;
}*/
.ty-product-block__players {
    margin-top: 10px;
}
.ty-product-list__player_image {
    display: inline-block;
    margin: 5px 25px 10px 0;
    vertical-align: top;
    width: 10%;
}
.ty-product-list__player_image div {
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
.top-menu .ty-menu__item {
    text-align: center;
    width: 14.28%;
}
.top-menu .ty-menu__item .ty-menu__item-link {
    font-size: 16px;
}
.tygh-header > div {
    padding-top: 50px;
}
.tygh-top-panel {
    left: 0;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.top-menu-grid {
    padding-top: 30px;
}
.content-grid, .header-grid {
    background: url("../../../media/images/addons/development/tennisplaza_wrapper_background.png") no-repeat scroll center top transparent !important;
}
.tygh-top-panel {
    background: linear-gradient(#484649, #272528) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/*.ty-dropdown-box__title a, .ty-dropdown-box .ty-icon-down-micro, .ty-minicart__icon {
    color: #ffffff;
}*/
.footer-stay-connected {
    background: none repeat scroll 0 0 #272528;
}
/*Top menu*/
.no-touch .ty-menu__item:hover .ty-menu__item-link,
.is-hover-menu .ty-menu__item-link,
.is-hover-menu.ty-menu__item-active .ty-menu__item-link {
    background-color: #292929;
    color: #ffffff;
    text-shadow: none;
    transition: all 400ms linear 0s;
}
.ty-menu__submenu-items {
    background: none repeat scroll 0 0 #292929;
    color: #ffffff;
}
.no-touch .ty-menu__submenu-items .ty-menu__submenu-link:hover, .ty-menu__submenu-items .ty-menu__submenu-link {
    color: #ffffff;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link,  .no-touch .ty-menu__submenu-item-header .ty-menu__submenu-link:hover {
    color: #fea73c;
}
.ty-menu__submenu-item-header {
    border-bottom : none;
    margin-bottom: 0;
}
.ty-menu .ty-menu__items {
    background-color: @category_menu;
}
.ty-menu__homepage-link {
    background: url("../../../media/images/addons/development/white-home-icon.png") no-repeat scroll center transparent !important;
}
.ty-menu__homepage-link:hover {
    background: url("../../../media/images/addons/development/white-home-icon.png") no-repeat scroll center #292929 !important;
    color: white;
    text-shadow: none;
    transition: all 400ms linear 0s;
}
/*Top menu*/

/*Category menu*/

.ty-menu .ty-menu__items {
    background: @category_menu;
}
.ty-menu .ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background-color: darken(@category_menu, 5%);
    color: @category_menu_links;
    transition: none;
}
.ty-menu .ty-menu__item .ty-menu__item-link {
    color: @category_menu_links;
}
.no-touch .ty-menu .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu .ty-menu__item-link, .is-hover-menu .ty-menu .ty-menu__item-active .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
    text-shadow: none;
    transition: none;
}

.ty-menu-vertical .ty-menu__items {
    border-bottom: 1px solid #34495E;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items {
    border: 1px solid #2B3E51;
    padding: 0px;
}
.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
    color: @category_menu_links;
    background: white;
}
.no-touch .ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover > .ty-menu__item-link {
    background: @menu;
    color: @category_menu_links;
}
.ty-menu-vertical .ty-menu__item i {
    color: @category_menu_links;
}
.no-touch .ty-menu-vertical .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu-vertical .ty-menu__item-link, .is-hover-menu .ty-menu-vertical .ty-menu__item-active .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
    text-shadow: none;
    transition: none;
}

/*Category menu*/

/*.ty-helper-container {
    background: none repeat scroll 0 0 #f1f1f1;
}*/
/*.tygh-top-panel {
    background-image: url("../../../media/images/addons/development/top_panel_back_.png");
    background-color: transparent;
}
.top-grid {
   background: url("../../../media/images/addons/development/top_panel_tab_.png") no-repeat scroll 485px 0 transparent !important;
    font-size: 10px;
    height: 40px;
    margin: 0 auto;
    padding: 0 0 0 510px;
    width: 530px;
}*/