/*.ty-tabs__content {
    width: 500px;
}*/
select {
    min-width: 2em;
}
.icon-question-sign {
    background-image: url("../../../media/images/addons/development/glyphicons-halflings.png");
    background-position: -96px  -96px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.ty-control-group__label {
    width: 130px;
}
/* Tooltip */
/*
 * Template: templates/common/tooltip.tpl
 */

.tooltip {
    display: none;
    max-width: 200px;
    z-index: 10000;
    padding: 9px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    font-weight: normal;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tooltip a {
    color: #fff;
}
.tooltip p {
    color: #fff;
    padding: 0px;
}
.tooltip-arrow {
    position: absolute;
    top: -10px;
    right: 3px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
.tooltip.arrow-top .tooltip-arrow  {
    top: auto;
    left: auto;
    bottom: -10px;
    right: 3px;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}
.tooltip.right {
    padding: 9px;
    text-align: left !important;
}
.arrow-top.right .tooltip-arrow {
    left: 3px;
    right: auto;
    border-width: 10px 10px 0 0;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}
.arrow-down.right .tooltip-arrow {
    right: auto;
    top: -4px;
    left: 3px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

/* width image */
.tooltip img {
    max-width: 100%;
}
.touch .ty-tooltip-block {
    display: none;
}
.ty-tooltip-block {
    vertical-align: middle;
}
/* /Tooltip */

.top-menu .ty-menu__item {
    text-align: center;
}
.top-menu .ty-menu__item .ty-menu__item-link {
    font-size: 17px;
    color: #000000;
}
.tygh-header > div {
    padding-top: 119px;
}
.tygh-top-panel {
    left: 0;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 400;
}
.top-menu-grid {
    padding-top: 30px;
}
.content-grid, .header-grid {
    background: url("../../../media/images/addons/development/tennisplaza_wrapper_background.png") no-repeat scroll center top transparent !important;
    box-shadow: 0 0 10px 1px #aaa;
}
.container-fluid {
    padding-right: 11px;
    padding-left: 11px;
}
.tygh-top-panel {
    background: linear-gradient(lighten(@top_menu_background, 12%), @top_menu_background) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.homepage-banners {
    margin-top: 5px;
}
/*.ty-dropdown-box__title a, .ty-dropdown-box .ty-icon-down-micro, .ty-minicart__icon {
    color: #ffffff;
}*/
.footer-stay-connected {
    background: none repeat scroll 0 0 @top_menu_background;
}

/* Top block */
.ty-top-block_top-wrapper {
    border-bottom: 1px solid #eeeeee;
    display: inline-block;
    width: 100%;
}
.ty-top-block__search {
    display: inline-block;
    margin: 0 11px;
    vertical-align: middle;
    width: 250px;
    float: left;
}
.ty-dropdown-box__content {
    margin-top: 0;
}
.top-menu-section .ty-benefits-low-price {
    background: url('../media/images/icons/benefits_sprite_top.png') no-repeat 5px 2px;
    width: 32px;
    height: 27px;
    display: block;
    margin: 0 auto;
}
.top-menu-section .ty-benefits-free-shipping {
    background: url('../media/images/icons/benefits_sprite_top.png') no-repeat -37px 0;
    width: 40px;
    height: 27px;
    display: block;
    margin: 0 auto;
}
.top-menu-section .ty-benefits-free-returns {
    background: url('../media/images/icons/benefits_sprite_top.png') no-repeat -79px 2px;
    width: 40px;
    height: 27px;
    display: block;
    margin: 0 auto;
}
.ty-benefits-guarantees__text {
    color: #fff;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 5px;
    width: 170px;
}
.ty-benefits-guarantees__top {
    display: inline-block;
    padding: 0 4px;
    width: 220px;
}
.ty-top-block_bottom-wrapper {
    margin-top: -2px; /* why da fuck ?*/
}
.ty-benefits-guarantees__icon-block {
    display: inline-block;
    width: 40px;
    padding: 3px 0;
}
.ty-benefits-guarantees__top:hover {
    background: lighten(#484649, 5%);
}
.ty-benefits-guarantees__text-benefits {
    padding: 8px 0;
}
/* Top block */



/*Top menu*/
.no-touch .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu__item-link, .is-hover-menu.ty-menu__item-active .ty-menu__item-link {
    background-color: lighten(@menu, 35%);
    color: #000000;
    text-shadow: none;
    transition: all 400ms linear 0s;
}
.ty-menu__submenu-items {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    height: 380px;
    text-align: left;
}
.ty-menu__submenu-items .ty-menu__submenu-link {
    color: #454545;
    font-size: 12px;
    padding: 3px 5px 3px 12px;
    display: block;
}
.no-touch .ty-menu__submenu-item .ty-menu__submenu-link:hover {
    background-color: lighten(#FBFF9A, 10%);/*#FFFA8A*/
    color: #000000;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
    padding: 3px 5px 3px 12px;
}
.ty-menu__submenu-item-header .ty-menu__submenu-link {
    color: #ffffff;
}
.no-touch .ty-menu__submenu-item-header .ty-menu__submenu-link:hover {
    color: lighten(@menu, 20%);
}
.ty-menu__submenu-item-header {
    border-bottom : none;
    margin: 2px 0;
    background-color: #000000;
    min-height: 20px;
}
.ty-menu__sports-nutrition {
    background-color: darken(red, 25%);
}
.ty-menu .ty-menu__items {
    background-color: @category_menu;
}
.ty-menu__homepage-link {
    background: url("../../../media/images/addons/development/white-home-icon.png") no-repeat scroll center transparent !important;
}
.ty-menu__homepage-link:hover {
    background: url("../../../media/images/addons/development/white-home-icon.png") no-repeat scroll center lighten(@menu, 35%) !important;
    color: white;
    text-shadow: none;
    transition: all 400ms linear 0s;
}
.ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item-active a {
    background: lighten(@top_menu_background, 82%);
    color: inherit;
    padding: 3px 5px 3px 12px;
}
.ty-menu__submenu-items .ty-menu__submenu-item {
    margin: 0;
    padding: 0;
}
.ty-menu__items {
    padding: 0 30px;
}
.top-menu .ty-menu__submenu-items {
    right: 125px;
    width: 1000px;
}
.ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background-color: lighten(@menu, 20%);
}


.top-grid {
    max-width: none;
    padding: 0;
}
.ty-dropdown-box__title:hover {
    background: lighten(#484649, 5%);
}
.logged .ty-account-info__title, .logged .ty-account-info__user-arrow, .ty-dropdown-box__title a, .ty-minicart__icon, .ty-dropdown-box .ty-icon-down-micro {
    color: #ffffff;
}
.top-search {
    padding: 0;
}
.top-logo {
    padding: 8px 0;
}
.top-menu {
    box-shadow: 0 0 5px 1px #888888;
}
.ty-menu__submenu-item-subheader {
    background-color: darken(#ffffff, 10%);
    position: relative;
    margin: 1px 0;
}
.ty-menu__submenu-item-subheader .ty-menu__submenu-link {
    color: #000000;
}
.no-touch .ty-menu__submenu-item-subheader .ty-menu__submenu-link:hover {
    color: lighten(@menu, 20%);
    background-color: lighten(#000000, 40%);
}
.ty-menu__submenu-item-subheader .ty-icon-down-open:before, .ty-menu__submenu-item-subheader .ty-icon-right-open:before {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #000000;
}
.ty-menu__submenu-items .ty-top-mine__submenu-col {
    margin: 0 3px;
}
.top-my-account {
    float: right;
}
.top-cart-content {
    float: right;
}
/*.top-menu-phone {
    text-align: right;
}*/
/*Top menu*/

/*Category menu*/

.ty-menu .ty-menu__items {
    background: @category_menu;
}
.ty-menu .ty-menu__item.ty-menu__item-active .ty-menu__item-link {
    background-color: darken(@category_menu, 5%);
    color: @category_menu_links;
    transition: none;
}
.ty-menu .ty-menu__item .ty-menu__item-link {
    color: @category_menu_links;
}
/*.no-touch .ty-menu .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu .ty-menu__item-link, .is-hover-menu .ty-menu .ty-menu__item-active .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
    text-shadow: none;
    transition: none;
}*/

.ty-menu-vertical .ty-menu__items {
    border-bottom: 1px solid #34495E;
}
.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__submenu-items {
    border: 1px solid #2B3E51;
    padding: 0px;
}
.no-touch .ty-menu-vertical .ty-menu__submenu .ty-menu__item:hover > .ty-menu__submenu-item-header .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
}
/*.ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item-link {
    color: @category_menu_links;
    background-color: red;
}*/
.no-touch .ty-menu-vertical .ty-menu__item .ty-menu__submenu .ty-menu__item:hover > .ty-menu__item-link {
    background: @menu;
    color: @category_menu_links;
}
.ty-menu-vertical .ty-menu__item i {
    color: @category_menu_links;
}
.no-touch .ty-menu-vertical .ty-menu__item:hover .ty-menu__item-link, .is-hover-menu .ty-menu-vertical .ty-menu__item-active .ty-menu__item-link, .is-hover-menu .ty-menu-vertical .ty-menu__item-link {
    background-color: darken(@category_menu, 10%);
    color: @category_menu_links;
    text-shadow: none;
    transition: none;
}
.ty-menu__submenu > .ty-menu__submenu-items > .ty-menu__item > .ty-menu__submenu-item-header > .ty-menu__item-link {
    background-color: @category_menu;
}
.ty-menu__submenu > .ty-menu__submenu-items > .ty-menu__item-active > .ty-menu__submenu-item-header > .ty-menu__item-link {
    background-color: darken(@category_menu, 5%);
}
/*Category menu*/

/*Filters*/
.ty-product-filters__group {
    margin: 0;
}
.ty-price-slider__input-text {
    width: 50px;
    padding: 4px;
}
.ty-product-filters__wrapper .is-hover {
    background: lighten(@base, 3%);
}
.ty-product-filters__wrapper {
    border-top: 1px solid lighten(@font, 63%);
    border-left: 1px solid lighten(@font, 63%);
    border-bottom: 1px solid lighten(@font, 63%);
}
.ty-product-filters__switch {
    border-bottom: 1px solid lighten(@font, 63%);
    border-right: 1px solid lighten(@font, 63%);
}
.ty-product-filters__tools {
    border-right: 1px solid lighten(@font, 63%);
}
.is-hover .ty-product-filters__switch {
    border-right: none;
    padding-right: 11px;
}
.ty-product-filters__switch .ty-icon-ok {
    color: #b4bcc4;
    float: right;
    font-size: 115%;
    margin-right: 5px;
}
.sticky {
    position: fixed;
    top: 135px;
    width: 169px;
    z-index: 100;
}
.ty-filter-icon__check, .ty-filter-icon__delete {
    font-size: 15px;
    left: 20%;
    top: 0;
}
.ty-product-filters__block {
    position: relative;
}
.ty-product-filters {
    background: lighten(@base, 3%);
    border-top: 1px solid lighten(@font, 63%);
    border-right: 1px solid lighten(@font, 63%);
    border-bottom: 1px solid lighten(@font, 63%);
    left: 168px;
    top: -1px;
    position: absolute;
    z-index: 100;
    width: 157px;
    margin: 0;
    padding: 0 5px 0 15px;
    min-height: 36px;
}
.ty-product-filters .ty-product-filters__item-more {
    padding: 0;
    margin: 0;
}
.ty-price-slider {
    background: lighten(@base, 3%);
    border-top: 1px solid lighten(@font, 63%);
    border-right: 1px solid lighten(@font, 63%);
    border-bottom: 1px solid lighten(@font, 63%);
    left: 168px;
    margin: 0;
    padding: 10px 10px 25px;
    position: absolute;
    top: -1px;
    width: 157px;
    z-index: 100;
}
.ty-product-filters__block input {
    color: #333333;
}
/*Filters*/

/*Player details*/

.ty-product-block__option .help-inline {
    margin: 0;
}
.ty-available-text {
    display: inline-block;
    vertical-align: sub;
}
.ty-product-block__players {
    margin-top: 20px;
    width: 450px;
    display: inline-block;
}
.ty-product-list__player_image {
    display: inline-block;
    margin: 5px 10px 10px;
    vertical-align: top;
    width: 80px;
}
.ty-product-list__player_image div {
    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
.ty-product-block .ty-tabs {
    margin-top: 0;
}
.ty-player-block__img-wrapper {
    position: absolute;
    left: 115px;
}
.ty-player-block__left {
    display: inline-block;
    padding: 0 0 0 100px;
}
.ty-player-details-title {
    border-bottom: 1px solid #dadada;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -3px;
    word-spacing: 5px;
    text-transform: uppercase;
    padding: 30px 0 10px 30px;
    text-align: center;
}
.ty-player-detail {
    display: inline-block;
    min-height: 300px;
    padding-left: 150px;
    width: 500px;
}
.ty-grid-list__item {
    background: none repeat scroll 0 0 #f6f7f8;
    position: relative;
    margin: 5px 5px 15px;
    z-index:10;
    overflow: hidden;
}
.ty-grid-list__item:hover {
    position: relative;
/*    outline: 1px solid #dadada;*/
    margin: 0 0 10px;
    transition: all 200ms linear 0s;
    box-shadow: 0 0 5px 1px #333;
    z-index:20;
}
.ty-grid-list__image a{
    display: inline;
}

/*.ty-player-details .ty-grid-list__item {
    margin: 0 10px 10px;
}*/
.ty-player-data {
    padding: 0 0 5px;
}
.ty-player-data__label {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 115px;
}
.ty-player-data__value {
    display: inline-block;
    font-weight: bold;
    letter-spacing: -1px;
    margin-left: 5px;
}
.ty-news-feed {
    border: 1px solid #ebebeb;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    width: 700px;
    position: relative;
    margin: 10px 5px;
}
.ty-news-feed .owl-prev {
    background: url("../../../design/themes/responsive/media/images/addons/development/arrows_right.png") no-repeat scroll 0 0 #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: unset !important;
    height: 50px;
    left: -25px;
    margin: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    width: 23px;
}
.ty-news-feed .owl-next {
    background: url("../../../design/themes/responsive/media/images/addons/development/arrows_left.png") no-repeat scroll 0 0 #ffffff !important;
    border: 1px solid #ebebeb;
    border-radius: unset !important;
    height: 50px;
    right: -25px;
    margin: 0 !important;
    opacity: 1 !important;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    width: 23px;
}
.ty-news-feed .owl-theme .owl-controls {
    margin: 0;
}
.ty-news-feed h2 {
    font-size: 15px;
    text-align: right;
    color: #ffffff;
    background-color: #000000;
    padding: 2px 15px 1px 2px;
}
.ty-player-details {
    display: inline-block;
    width: 100%;
}
.ty-news-date {
    color: darken(@base, 30%);
    display: inline-block;
    margin: 0 5px 5px;
    vertical-align: top;
    width: 15%;
}
.ty-news-time {
    color: darken(@base, 30%);
}
.ty-scroller-news-list__item {
    text-align: left;
}
.ty-news-item-row {
    display: inline-block;
    vertical-align: top;
}
.ty-news-item-row-title {
    color: darken(@base, 70%);
}
.ty-news-item-row-description {
    color: darken(@base, 30%);
}
.ty-news-item-column-descritpion {
    display: inline-block;
}
.ty-news-item-title {
    display: inline-block;
    margin: 0 5px;
    width: 81%;
}
.ty-player-titles {
    color: darken(@base, 25%);
    width: 40px;
    background: url("../../../design/themes/responsive/media/images/addons/development/cup.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 50px;
    padding: 0 0 5px 40px;
}
.ty-player-gear {
    display: block;
    padding-top: 20px;
}
.ty-tp-block h2 {
    color: #ffffff;
    background-color: #000000;
    padding: 2px 2px 1px 15px;
}
.ty-player-rackets {
    float: right;
    width: 25%;
}
.ty-btn + .ty-btn {
    margin-left: 0;
}
.ty-grid-list__item-name {
    width: 100%;
    max-width: unset;
    margin-top: 0;
}
.ty-product-series {
    color: lighten(@font, 35%);
    font-size: 90%;
    display: block;
    height: 13px;
    overflow: hidden;
}
.ty-grid-list__item-name .product-title {
    color: @font;
    font-size: 125%;
    display: block;
    height: 40px;
    overflow: hidden;
}
.ty-grid-list__price {
    max-width: unset;
    width: 100%;
}
.ty-grid-list__item-info {
    background: lighten(@base, 3%);
    display: inline-block;
    padding: 2px 5px 5px;
}
.ty-grid-list__item-title {
    display: block;
    height: 40px;
    overflow: hidden;
}
.ty-grid-list__price .ty-price-update {
    float: left;
}
.ty-grid-list__price .ty-list-price {
    float: right;
    font-size: 12px;
}
.ty-atp-players-block, .ty-wta-players-block {
    margin-top: 15px;
}
.ty-players-list .ty-column2 {
    margin-right: -3px;
}
.ty-wta-players-block {
    margin-left: 3px;
}
.ty-atp-players-block {
    border-right: 1px solid #ebebeb;
}
.ty-players-list h1 {
    text-align: center;
    font-size: 200%;
}
.ty-players-list .ty-player-name {
    font-size: 110%;
    font-weight: bold;
}
.ty-players-list__item {
    padding: 10px 0;
    text-align: center;
}
.ty-players-list__item:hover {
    border: 1px solid #dadada;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    margin-right: -4px;
    border-radius: 4px;
}
.ty-product-detail__brand-image {
    display: inline-block;
}
.ty-product-detail__brand-image img {
    height: 16px;
}
.ty-product-detail__buy-section {
    border: 1px solid darken(@base, 5%);
    background: lighten(@base, 3%);
    padding: 0 10px 15px;
    margin-bottom: 30px;
}
.ty-product-block-title {
    font-size: 25px;s
}
.ty-product-switcher {
    top: 10px;
}
.ty-discussion__rating-wrapper {
    display: inline-block;
    margin-bottom: 0;
    float: right;
}
.ty-product-detail__before-title {
    display: inline-block;
    width: 100%;
}
.ty-stars {
    margin-right: 0;
    vertical-align: top;
}
.ty-discussion__review-a {
    font-size: 15px;
    margin-right: 5px;
}
.ty-product-block__price-actual {
    margin: 3px 0;
}
.ty-prices-container-wrap, .ty-options-avail-container-wrap {
    border-bottom:  1px solid darken(@base, 5%);
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.price-wrap {
    display: inline-block;
    width: 55%;
}
.ty-ti-price-wrap {
    display: inline-block;
    width: 44%;
}
.ty-options-container {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}
.ty-avail-container {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}
.ty-product-block__option, .ty-product-options__item, .ty-product-block__field-group {
    margin: 0;
}
.ty-product-prices {
    margin: 0;
}
.ty-qty-discount__quantity {
    color: darken(@price, 10%);
    font-size: 13px;
}
.ty-qty-discount__price {
    font-size: 15px;
}
.ty-btn__add-to-cart {
    font-size: 16px;
    padding: 6px 50px;
    color: #484848;
}
.ty-btn__add-to-cart:hover {
    background: lighten(@primary_button, 15%);
    color: #484848;
    transition: all 400ms linear 0s;
    box-shadow: 0 0 5px 1px #ddd;
}
.ty-breadcrumbs__current {
    color: darken(@base, 25%);
}
.ty-breadcrumbs__a, .ty-breadcrumbs__a:hover {
    color: @links;
}
.ty-product-qty {
    margin-top: 10px;
}
.no-touch .ty-menu__item:hover .ty-menu__submenu-items,
.is-hover-menu .ty-menu__submenu-items {
    display: none;
}
.ty-control-group__item {
    padding: 0;
}
/*.ty-product-notify-email {
    margin: 5px;
    position: absolute;
}*/
.ty-product-detail__follow-wrap {
    position: relative;
}
.ty-product-detail__follow-controller {
    margin: 0;
}
/*Player details*/

/* Checkout */
.checkout-steps .ty-btn {
    padding: 3px 14px;
}
/* Checkout */

.ty-pagination-sorting, .ty-pagination__bottom {
    background: @base;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.ty-sort-container {
    background: none;
    display: inline-block;
    float: right;
    margin: 0;
}
.ty-pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.ty-pagination__text {
    text-transform: none;
}
.ty-sort-dropdown__content-item-active {
    background-color: lighten(@links, 50%);
}
.ty-pagination__item, .ty-pagination__selected, .ty-pagination__item:hover {
    padding: 6px 7px 5px;
    margin: 0;
    border-radius: 0;
}
.ty-pagination__item:hover {
    background: darken(@base, 3%);
}
.ty-sort-dropdown__wrapper {
    color: darken(@base, 35%);
    padding: 0 7px 5px;
    margin: 0;
}
.ty-sort-dropdown__wrapper:hover {
    color: darken(@base, 35%);
    background: darken(@base, 3%);
}
.ty-pagination__selected {
    background: darken(@base, 45%);
}
.ty-grid-list__image {
    padding: 10px 0 25px;
}
.ty-grid-list__brand-image {
    left: 5px;
    position: absolute;
    bottom: 5px;
    z-index: 100;
}
.ty-grid-list__brand-image img {
    height: 19px;
}
.grid-list__rating {
    right: 5px;
    position: absolute;
    bottom: 9px;
    z-index: 100;
}
.ty-category-title {
    margin: 0 -11px;
    position: relative;
    height: 124px;
}
.ty-breadcrumbs {
    padding: 8px 105px 10px 0;
    margin-bottom: 0;
}
.ty-category-title__name {
    background-color: #ffffff;
    font-size: 160%;
    left: 230px;
    opacity: 0.8;
    padding: 2px 10px;
    position: absolute;
    top: 85px;
    box-shadow: 0 0 5px 1px #333;
}
.ty-login-info__txt li {
    list-style-type: disc;
    margin-bottom: 11px;
    margin-left: 17px;
}
.ty-ntrp-selectbox select, .ty-court-surface select{
    width: auto;
}
.ty-profile-field-note {
     margin: 5px 15px;
     display: inline-block;
}
.ty-additional-info {
    margin-top: 30px;
}
.ty-contact-info-column {
    display: inline-block;
    padding: 0 18px;
    width: 46%;
}
.ty-contact-address {
    border-right: 1px solid #ededed;
    display: inline-block;
    padding: 0 18px;
    vertical-align: top;
    width: 46%;
}
.ty-new-post_additional_fields input {
    height: 29px;
}
/*.ty-range-slider .ui-slider-handle {
    background-color: lighten(@font, 22%);
}*/
/*.ty-helper-container {
    background: none repeat scroll 0 0 #f1f1f1;
}*/